<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Stacck FAQ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if (status === 'error') { %>
        <div class="alert alert-danger">
          <h5 class="text-center"><strong>Auto-redirect in 5...</strong></h5>
          <h3 class="text-center"><strong>Error!</strong> Please try again!</h3>
        </div>
        <% } else if (status === 'success') { %>
        <div class="alert alert-success">
          <h5 class="text-center"><strong>Auto-redirect in 5...</strong></h5>
          <h3 class="text-center"><strong>Success!</strong> Entry has been added to our knowledge base!</h3>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <script src="js/api.js"></script>
</body>