<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Stacck FAQ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <h2 class="text-center">Add more faq(s)</h2>
      <h5 class="text-center"><em>*note: image format accepted are jpg, jpeg, gif, bmp, svg</em></h5>
      <div class="col-md-offset-2 col-md-8 col-xs-12">
        <form id="form" method="post" action="/api" enctype="multipart/form-data">
          <fieldset class="form-group">
            <label for="question">Question</label>
            <input type="text" name="question" class="form-control" placeholder="Question..." required>
          </fieldset>
          <fieldset class="form-group">
            <label for="answer">Answer</label>
            <textarea name="answer" class="form-control" placeholder="Answer..." required></textarea>
          </fieldset>
          <fieldset class="form-group">
            <label for="Image">Upload Image</label>
            <input name="image" type="file" class="file"/>
          </fieldset>
          <button class="btn btn-primary form-control"><i class="glyphicon glyphicon-send"></i> Submit</button>
        </form>
        <div class="alert alert-success" style="display: none;"><strong>Success!</strong> Your FAQ is successfully added to our knowledgebase!</div>
        <div class="alert alert-danger" style="display: none;"><strong>Error!</strong> Please try again!</div>
        <hr/>
      </div>
    </div>
    <div class="row">
      <h2 class="text-center">Manage faq(s)</h2>
      <h5 class="text-center"><em>*note: image format accepted are jpg, jpeg, gif, bmp, svg</em></h5>
      <div class="col-md-offset-2 col-md-8 col-xs-12" id="faq">
        <% faq.forEach(function(item) { %>
          <div class="jumbotron" id="<%= item.id %>">
            <form>
              <fieldset class="form-group">
                <label for="question">Question</label>
                <input name="question" type="text" class="form-control" value="<%= item.question %>" disabled required/>
              </fieldset>
              <fieldset class="form-group">
                <label for="answer">Answer</label>
                <textarea name="answer" class="form-control" disabled required><%- item.answer.replace(/<br\/>/g, '\n') %></textarea>
              </fieldset>
              <% if (item.image) { %>
              <fieldset class="form-group">
                <button type="button" class="close">&times;</button>
                <label for="current-image">Current Image</label>
                <image class="img-responsive" src="<%= item.image %>"/>
              </fieldset>
              <% } %>
              <fieldset class="form-group">
                <label for="Image">Upload New Image</label>
                <input name="image" type="file" class="file" disabled/>
              </fieldset>
              <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
              <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
              <button class="btn btn-default" type="button">Cancel</button>
              <button class="btn btn-danger" type="button"><i class="glyphicon glyphicon-trash"></i> Delete</button>
            </form>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
  <script src="js/application.js"></script>
</body>